* {
    margin: 0px;
  }
  body {
    font-family: "Helvetica Neue", sans-serif;
  }

  label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  input:checked {
    background-color: blue;
    transition: 0.4s;
  }
  
  h1,
  h6 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .homeComponent {
    width: 1120px;
    margin: 0 auto !important;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .homeComponentFullScreen {
    width: 100%;
    margin: 0 auto !important;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
 
  .canvasComponent {
    position: relative;
  }
  .canvasControl {
    position: absolute;
    z-index: 5;
    right: 24px;
    top: 13px;
  }
  .config-section-header {
    background: #f1f1f1;
    font-size: 14px;
    font-weight: 500;
    padding: 18px 0 15px 30px;
    border-bottom: 1px solid #d8dee2;
    stroke: #eaeaea;
    text-align: center;
  }
  
  .bc1,
  .bc2,
  .bc3,
  .bc4,
  .bc5,
  .bc6 {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    display: inline-block;
    margin: 2px;
  }
  #loading_indicator {
    width: 650px;
  }
  
  .homeComponentFullScreen {
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  .display-none {
    display: none;
  }
  
  .canvas-style {
    width: 641px;
    height: 511.667px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  .canvas-style-change {
    height: 100vh !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  
  .canvasControl button {
    border-radius: 34px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    width: 40px;
    margin: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
  }
  
  .config-section-header {
    width: 100%;
    background: #f1f1f1;
    background-color: rgb(241, 241, 241);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    font-size: 14px;
    font-weight: 500;
    padding: 18px 0 15px 30px;
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-bottom: 1px solid #d8dee2;
    border-bottom-color: rgb(216, 222, 226);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    stroke: #eaeaea;
    text-align: center;
  }
  .accordion {
    background-color: rgb(246, 243, 243);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    overflow: hidden;
  }
  
  .active,
  .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  
  .display-none {
    display: none;
  }
  
  .accordion:after {
    content: "";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  
  div.panel.show {
    display: block !important;
  }



@media (max-width: 768px) {
  .homeComponent {
    width: 100vw;
    margin: auto;
   
  }
}
@media (max-width: 425px) {
  
  .homeComponent {
    width: 100vw;
    margin: auto;
  }
}
@media (max-width: 320px) {
  .homeComponent {
    width: 100vw;
    margin: auto;
  }
}



.main {
  padding-top: 2px;
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}

/* Hide the default checkbox */
input[type=checkbox] {
  visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid aqua;
}

/* Specify the background color to be
shown when hovering over checkbox */
.main:hover input ~ .geekmark {
  background-color: yellow;
}

/* Specify the background color to be
shown when checkbox is active */
.main input:active ~ .geekmark {
  background-color: red;
}

/* Specify the background color to be
shown when checkbox is checked */
.main input:checked ~ .geekmark {
  background-color: green;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.main .geekmark:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}